 /* CSS for the navigation bar */
 .navbar {
    background-color: #353232;
    overflow: hidden;
}

.navbar {
    background-color: #353232;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    color: #e9e2e2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #e09494;
}

/* CSS for the content of each page */
.content {
    padding: 20px;
    background-color: #f1f1f1;
    height: 100vh;
    margin-top: 60px; /* Adjust this value to match the height of the navbar */
}

.navbar a {
    color: #e9e2e2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #e09494;
}

/* CSS for the content of each page */
.content {
    padding: 20px;
    background-color: #f1f1f1;
    height: 100vh;
    text-align: center;
}
h1 {
    text-align: center;
}
.body-1 {
    text-align: center;
}
.table-title {
    text-align: match-parent;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }